/* url('../images/home_slider.jpg') */

body{
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),;
	background-size: fill;
}


/* .logo a{
    font-family: "Verdana";
	font-size: 30px;
	font-weight: 500;
	color: #FFFFFF;
    line-height: 0.75;
    text-decoration: none;
} */

.box{
	
    background:rgba(0,0,0,0.3);
    width: 100vw;
	padding: 40px;
	text-align: center;
	margin:auto;
	margin-top: 2%;
	color: white;
    font-family: "Verdana";
    display: flex;
    align-items: center;
    justify-content: center;
}

form input{
    padding: 1.0em 3.0em;
    margin-bottom: 2em;
}

button{
    padding: 1.0em 1.5em;
    font-family: "Verdana";
}


button:hover{
    cursor:pointer;
	background-color: #a3a3c2;
}

h5 a{
    color: rgb(157, 241, 22);
    text-decoration: none;
}

h5 a:hover{
    text-decoration: underline;
    font-style: oblique;
}